.TodoList .searchbar {
  margin-bottom: 20px;
  width: 100%;
  border: none;
  border-bottom: 1px solid lightgray;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
}

.TodoList .searchbar:focus {
  outline: none;
  border-bottom: 1px solid coral;
}

